<p id="notice"><%= notice %></p>

<p>
  <strong>Size:</strong>
  <%= @bag.size %>
</p>

<p>
  <strong>Locker:</strong>
  <%= @bag.locker %>
</p>

<%= link_to 'Edit', edit_bag_path(@bag) %> |
<%= link_to 'Back', bags_path %>
